/* 

colores de la pagina

    rojo = #EE3C3B
    azul = #3B437B


*/

@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Vadodara",sans-serif;
}

.head{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo{
    text-align: center;
}

.logo img{
    width: 200px;
    padding: 15px 0;
}


nav ul{
    display: flex;
    list-style: none;
    background-color: #3B437B;
    justify-content: center;
    height: 64px;
    align-items: center;
}

li{
    
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    transition: 0.5s;
}

li:hover{
    background-color:#EE3C3B;
}


.pie{
    padding: 25px;
    background: rgb(238,60,59);
    background: linear-gradient(142deg, rgba(238,60,59,1) 0%, rgba(59,67,123,1) 68%);
}