.inicio{
    display: none;
}

.bgc{
    background-image: url("/img/main-fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: .8;
}


.main-page{
    padding: 95px 0;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.presentation img{
    width: 300px;
}

.title{
    margin-right: 35px;
}

#title{
    font-size: 85px;
    color: rgb(255, 255, 255);
}

#lema{
    font-size: 68px; 
    color: white;
}

.ubicacion{
    margin: 105px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direccion{
    width: 600px;
    margin-right: 155px;
    text-align: justify;
}

.map img{
    border-radius: 45px;
}

.direccion h1{
    font-size: 45px;
}

.direccion p{
    font-size: 25px;
}

.direccion button{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 30px;
    border: 3px black solid;
    margin-top: 15px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.direccion button:hover{
    border: rgb(185, 182, 182) solid;
    background-color: #3B437B;
    color: white;
}

.direccion button:active{
    color: rgb(174, 171, 171);
    background-color: #313765;
}